<div class="col">
  <div class="bg-light-custom p-4 rounded shadow-sm h-100 card-fixed-height" data-aos="zoom-in" data-aos-delay="200">
    <i class="bi bi-<%= icon %> display-5 text-success mb-3"></i>
    <h5 class="fw-bold"><%= title %></h5>
    <p class="mb-0"><%= text %></p>
  </div>
</div>
