$color-primary: #FBBF24; // Yellow
$color-secondary: #1F2937; // Dark Gray
$color-ogray: #9CA3AF; // Gray light
$color-owhite: #F9FAFB; // Light background
$color-otitle: #374151; // Title text
$color-igray: #808080; // Gray med

$font-family-heading: 'Aldrich', sans-serif;
